.content {
  padding: 40rpx;
  height: 100%;

  .info {
    font-size: 28rpx;
    color: #3ca440;
    padding: 20rpx;
  }
  .edit {
    margin: 20rpx;
  }

  .note {
    font-size: 28rpx;
    color: #666;
    width: auto;
    white-space: pre-line;
    padding: 40rpx 20rpx;
  }

}
